a {
  cursor: pointer;
}
a:hover{
  text-decoration: none;
  color:#C0392B;
}
body{
  background-color:#ECF0F1;
}
.card{
  text-align:center;
  background-color:#FDFEFE;
  border-radius: 20px;
}
.card img{
  margin-left:auto;
  margin-right:auto;
}
